
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;

	}
	.Img{
		min-height: 250px;
		min-width:250px;

	
	}
}

@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.section3{
		flex-direction: column;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}

@media(max-width:500px){
.name{
	font-size: 2rem;
}
.prename{
	font-size: 5rem;
}
}

