

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style:none;
}
body{
	background-color: aqua;
}
.name{
	font-size: 5rem;
}
.prename{
	font-size: 8rem;
}
.Img{
    min-width: 200px;
	max-width: 200px;
	background-image: url(aayush.jpg);
	background-size: cover;
	border-radius: 50%;
	height: 200px;
	border: 1px solid white;
}

.present{
	color: aqua;
	margin-top: 3rem;
}
.downloadBtn{
	display: none;
	font-size: 30rem;
}

:root {
	--primary-color:GOLD;
	--text-color: #727171;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: white;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: white;

}
.des {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
}
.present p{

color:var(--text-color);
}
.org{
   margin-top: 90px;
}
/* layouts */

.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #070707;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.section1,
.section2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	
}
.section2 p{
	margin-top: 2.5rem;
	font-size: 1.5rem;
}
.section3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.section3 > div {
	flex: 1;
}


/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}

img{
	height: 200px;
	width: 200px;
}
 .img{
	border-radius: 50%;

}

.name{
	font-size: 7rem;
}
li{
	margin-top: 2.5rem;
	font-size: 1.5rem;
}
.devinfo {
	font-size: 2rem;
	font-weight: 900;
	margin-top: 1rem;
	text-transform: uppercase;
}
.planing p{
	margin-top: 2rem;
	font-size: 1.5rem;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
        
.g-skills p{
	margin-top: 3rem;
	color: var(--text-color);
}
.edu p{
margin-top: 2.5rem;
font-size: 1.5rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}


/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}
.prename{
	font-size: 7rem;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}


.awards_item {
	margin-top: 2rem;
}
.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}
.interest_item svg {
	width: 2rem;
}

/* socials */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}


.Edu p{
	color:white;
	margin-top: 2.5rem;
	font-size: 1.5rem;
}
.social a{
	font-size: 1.5rem;
	color: var(--text-color);
}
.social a:hover{
	color: gold;
	text-decoration: underline;
}
.mini-ss{
    color: var(--text-color);
    font-size: 1.5rem;
}
.mini-big{
    color:var(--text-color);
}

